<nav>
   <div class="nav-wrapper">
      <span id="title"><u>Fast Five Submissions</u></span>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li><a href="/">All Submissions</a></li>
         <li><a href="/fastfives">Previous Fast Fives</a></li>
         <li><a href="collapsible.html">Scoreboard</a></li>
          <li><a href="/users">Users</a></li>
      </ul>
   </div>
</nav>