@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
.none {
	display: none;
}

html, body {
	background: #f1f3f5;
	font-size: 12px !important;
	color: #656565 !important;
	font-family: 'Open Sans';
}

p {
	color: #656565;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
#title {
	color: transparent;
	background-image: linear-gradient(to right,#00afec,#ea148c,#fff02a);
	 -webkit-background-clip: text;
  	background-clip: text;
  	font-size: 2.2em;

	font-weight: 700 !important;
	font-family: 'Open Sans';
	text-transform: uppercase;
}
.text {
	display: inline-block;
	font-weight: 600 !important;
}

nav {
	background-color: #f1f3f5 !important;
	box-shadow: none !important;
}

nav a {
	color: transparent !important;
	background-image: linear-gradient(to right,#00afec,#ea148c,#fff02a);
	 -webkit-background-clip: text;
  	background-clip: text;
	font-weight: 700 !important;
	font-family: 'Open Sans';
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.sub-title {
	color: #656565;
	text-decoration: underline;

}
.name, h4 {
	font-weight: 700 !important;
	font-family: 'Open Sans';
	text-transform: uppercase;
	color: #656565;
	font-size: 15px;
	display: inline-block;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
     border: 2px solid #2962ff !important;
     background-color: #2962ff !important;
}

.text {
	margin-top: 10px !important;
}

.link {
	text-decoration: underline;
	color: rgba(0,0,0,0.87);
	display: inline-block;
}
.sub-date {
	font-weight: 400;
	color: #656565;
	font-size: 10px;
	display: inline-block;
}

.select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3) !important;
    background-color: transparent;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 12px !important;
    color: #656565 !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    font-family: 'Open Sans' !important;
}

.select-wrapper input.select-dropdown {
	font-family: 'Open Sans' !important;
	font-size: 12px !important;

}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #2979ff !important;
}

/*option[value="notSet"] {
	background-color: yellow !important;
}*/

/*[type="text"].select-dropdown:not(.quoteSet) {
	color: #2979ff !important;
}*/

input[type=text]:not(.browser-default) {
	font-family: 'Open Sans' !important;
	font-size: 12px !important;

}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]) {
	    -webkit-box-shadow: 0 1px 0 0 #2979ff !important;
	border-bottom: 1px solid #2979ff !important;
}

input[type=text].editable-select:focus {
    border-bottom: 1px solid #2979ff !important;
}

#ff {
	position: absolute;
}

#bleh {
	position: absolute;
}

div.select-wrapper {
/*	z-index: 10;*/
}
input[readonly=true] {
/*	visibility: hidden;*/
	color: white;
}

.setQuoteForm {
	width: 100%;
}
.caret {
	z-index: 7 !important;
}

.layer-input {
	z-index: 5 !important;
	position: absolute;
    width: 85% !important;
    bottom: 94px;
}
.caret:hover {
	cursor: pointer;
}
li.selected {
	display: none;
}
ul.select-dropdown {
	height: auto !important;
}